.navbar-inverse{
    background: rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    min-height: 100px;
    margin-bottom: 0;
}

.img-style{
    height: 60%;
  width: 60%;
  padding-top: 20px;
}